# Node modules
/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/build
/dist
/.cache
/.next

# Strapi files
/.tmp
/public/uploads

# Environment variables
.env
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac system files
*.swp
*.swo
*.swn
*.swa
*.swd
